<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Posts create</title>
</head>
<body>
    <div class="container d-flex flex-column gap-3">
        <h1>Create new post</h1>
        <div class="container p-3 d-flex flex-column align-items-center border border-secondary rounded-2 bg-light">
            <form action="/posts/create" class="d-flex flex-column align-items-center justify-content-center gap-2" id="create-post" method="post">
                <% form.fields.forEach(field => { %>
                    <% if (field.name === "author_id") { %>
                        <div class="mb-3">
                            <label for="author_id" class="form-label">Author: <span class="text-danger">*</span></label>
                            <select name="author_id" id="author_id" class="form-select <% if (field.error) { %>is-invalid<% } %>" required>
                                <% authors.forEach((author) => { %>
                                    <option 
                                      value="<%= author.id %>" 
                                      <% if (field.value === author.id) { %> selected <% } %> 
                                    > 
                                        <%= author.fullName %>
                                    </option>
                                <% }) %>
                            </select>
                            <div class="invalid-feedback"><%= field.error %></div>
                        </div>
                    <% } else { %>
                        <div class="mb-3">
                            <label for="<%= field.name %>" class="form-label"><%= field.name.charAt(0).toUpperCase() + field.name.slice(1) %>:
                                <% if (field.isRequired) { %>
                                    <span class="text-danger">*</span>
                                <% } %>
                            </label>
                            <% if (field.error) { %>
                                <input type="<%= field.htmlType %>" name="<%= field.name %>" class="form-control is-invalid" required value="<%= field.value %>">
                                <div class="invalid-feedback"><%= field.error %></div>
                            <% } else { %>
                                <input type="<%= field.htmlType %>" name="<%= field.name %>" class="form-control" required value="<%= field.value %>">
                            <% } %>
                        </div>
                    <% } %>
                <% }) %>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</body>
</html>