<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Posts list</title>
</head>
<body>
    <div class="container p-3 d-flex flex-column align-items-center gap-2">
        <h3>Количевство постов на страницу: <%= page_size %></h3>
        <div class="row gap-3">
            <% posts.forEach((post) => { %>
                <div class="card col-3 post m-2" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                      <h2 class="card-title"><%= post.title %></h2>
                      <h6 class="card-subtitle mb-2 text-body-secondary"><%= post.author %></h6>
                      <p class="card-text d-block text-truncate"><%= post.body %></p>
                      <div class="mt-auto">
                        <a href="/posts/detail/<%= post.id %>/" class="card-link btn btn-primary">Подробнее</a>
                      </div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted"><strong>Updated:</strong> <%= post.updatedAt %></small>
                      <small class="text-muted"><strong>Created:</strong> <%= post.createdAt %></small>
                    </div>
                </div>
            <% }) %>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="/posts/?page_num=<%= (parseInt(page_num) - 1) %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for (let i = 1; i < pages_range; i++) { %>
                <li class="page-item <% if (i == page_num) { %>active<% } %>"><a class="page-link" href="/posts/?page_num=<%= i %>"><%= i %></a></li>
              <% } %>
              <li class="page-item">
                <a class="page-link" href="/posts/?page_num=<%= (parseInt(page_num) + 1) %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>
    <div class="position-fixed" id="create-post" style="right: 5%; bottom: 5%;">
      <a href="/posts/create/" class="btn btn-primary rounded-circle btn-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg>
      </a>
    </div>
</body>
</html>