<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Post <%= post.title %> update</title>
</head>
<body>
    <a href="/posts" class="btn btn-primary m-3">Back</a>
    <div class="container p-3 d-flex flex-column align-items-center border border-secondary rounded-2 bg-light">
        <form action="/posts/update/<%= post.id %>" class="d-flex flex-column align-items-center justify-content-center gap-2" id="update-post" method="post">
            <% form.fields.forEach(field => { %>
                <% if (field.name === "author_id") { %>
                    <div class="mb-3">
                        <label for="author_id" class="form-label">Author: <span class="text-danger">*</span></label>
                        <select name="author_id" id="author_id" class="form-select <% if (field.error) { %>is-invalid<% } %>" required>
                            <% authors.forEach((author) => { %>
                                <option 
                                  value="<%= author.id %>" 
                                  <% if (field.value === author.id) { %> selected <% } %> 
                                > 
                                    <%= author.fullname %>
                                </option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback"><%= field.error %></div>
                    </div>
                <% } else { %>
                    <div class="mb-3">
                        <label for="<%= field.name %>" class="form-label"><%= field.name %>:<span class="text-danger">*</span></label>
                        <% if (field.error) { %>
                            <input type="text" name="<%= field.name %>" class="form-control is-invalid" required value="<%= field.value %>">
                            <div class="invalid-feedback"><%= field.error %></div>
                        <% } else { %>
                            <input type="text" name="<%= field.name %>" class="form-control" required value="<%= field.value %>">
                        <% } %>
                    </div>
                <% } %>
            <% }) %>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>